version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - ./env/web.env
    volumes:
      
      - ./solution/statistics:/app/solution/statistics
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:13
    env_file:
      - ./env/db.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge