version: '3.8'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
    env_file:
      - ./env/web.env
    volumes:
      - .:/app
      - ../statistics:/app/statistics
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:13
    env_file:
      - ./env/db.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge